.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

!gradle-wrapper.jar

*.apk
*.ap_

*.dex
*.class

bin/
gen/

.gradle/
build/

/*/build/
.log

*.iml

/.idea/tasks.xml
/.idea/dictionalries
/.idea/dataSources.ids
/.idea/dataSources.xml
/.idea/sqlDataSources.xml
/.idea/dyamic.xml
/.idea/uiDesiner.xml

/.idea/gradle.xml

local.properties

proguard/
